.app {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin: 50px auto 0;
    max-width: 720px;
    padding: 10px;
    position: relative;

    .container {
        margin: 0 auto;
        text-align: center;
    }
}
